.node-red/flows.json
[{"type":"tab","id":"ad21ee7d.6fac5","label":"[Rumah] BLE"},{"id":"e6f37061.99f29","type":"debug","z":"ad21ee7d.6fac5","name":"Arrivé","active":true,"console":"false","complete":"payload.owner","x":573.5,"y":281,"wires":[]},{"id":"fd593bd2.99ddb8","type":"tcp in","z":"ad21ee7d.6fac5","name":"BLE to Node TCP scanner","server":"server","host":"localhost","port":"8888","datamode":"stream","datatype":"utf8","newline":"","topic":"proximity","base64":false,"x":180.5,"y":155,"wires":[["57282c5f.4ef7e4"]]},{"id":"e744ab21.9c1f48","type":"switch","z":"ad21ee7d.6fac5","name":"Déplacements","property":"payload.isNear","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":330.5,"y":376,"wires":[["e6f37061.99f29"],["407084bc.830aec"]]},{"id":"57282c5f.4ef7e4","type":"json","z":"ad21ee7d.6fac5","name":"","x":217.5,"y":291,"wires":[["e744ab21.9c1f48"]]},{"id":"407084bc.830aec","type":"debug","z":"ad21ee7d.6fac5","name":"Sorti","active":true,"console":"false","complete":"payload.owner","x":567.5,"y":430,"wires":[]}]